openapi: 3.0.1
info:
  title: ''
  description: ''
  version: 1.0.0
paths:
  /v3/app/worksheets/{worksheet_id}/rows/list:
    post:
      summary: '获取行记录列表 '
      deprecated: false
      description: '获取工作表记录列表，包含记录创建者、拥有者信息，各控件对应的值



        '
      tags:
      - V3-beta（AI 友好）/工作表行记录
      - 工作表行记录
      parameters:
      - name: worksheet_id
        in: path
        description: 工作表 ID
        required: true
        schema:
          type: string
      - name: HAP-Appkey
        in: header
        description: appkey
        required: false
        schema:
          type: string
      - name: HAP-Sign
        in: header
        description: 签名
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: integer
                  description: 每页数量，最大为 1000
                pageIndex:
                  type: integer
                  description: 页码
                viewId:
                  type: string
                  description: 视图 id
                fields:
                  type: array
                  items:
                    type: string
                  description: 指定返回字段 id，填入后返回数据中只包含这些字段
                filter:
                  description: 筛选器
                  $ref: '#/components/schemas/obj_filter'
                sorts:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        title: 字段ID或别名
                      isAsc:
                        type: boolean
                        title: 是否升序，默认为降序
                    required:
                    - field
                    - isAsc
                  description: 排序字段
                search:
                  type: string
                  description: 关键字模糊搜索
                tableView:
                  type: boolean
                  description: 是否用表格视图格式返回记录数据
                useFieldIdAsKey:
                  type: boolean
                  description: 返回数据时字段名称是否使用ID，默认使用别名
                includeTotalCount:
                  type: boolean
                  default: false
                  description: 是否返回总记录行数
                includeSystemFields:
                  type: boolean
                  default: false
                  description: 是否返回系统字段
                responseFormat:
                  type: string
                  description: json：返回 JSON，md：返回 md 文本(更省 token)。默认为 json
              required:
              - pageSize
              - pageIndex
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rows:
                        $ref: '#/components/schemas/obj_record_row'
                      "total\t":
                        type: string
                        description: 总条数
                    description: 工作表ID
                    required:
                    - rows
                  success:
                    type: boolean
                    description: 是否调用成功
                  error_code:
                    type: integer
                    description: 错误代码
                  error_msg:
                    type: string
                    description: 错误消息
                required:
                - data
                - success
          headers: {}
      security: []
components:
  schemas:
    obj_filter:
      type: object
      properties:
        type:
          type: string
          description: '''group'' | ''condition''。当 type 为 ''condition'' 时，field/operator/value
            为必填；当 type 为 ''group'' 时，logic 为必填'
        logic:
          type: string
          description: '''AND'' | ''OR''。不区分大小写'
        children:
          type: array
          items:
            properties:
              type:
                type: string
                description: '''group'' | ''condition''。当 type 为 ''condition'' 时，field/operator/value
                  为必填；当 type 为 ''group'' 时，logic 为必填'
              logic:
                type: string
                description: '''AND'' | ''OR''。不区分大小写'
              field:
                type: string
                description: 字段 ID/别名
              operator:
                type: string
                description: 运算符
              value:
                description: 值（字符串、数值、数组、日期范围DateRange字符串）
                oneOf:
                - type: string
                - type: integer
                - type: boolean
                - type: array
                  items:
                    type: string
                - type: object
                  properties: {}
                - type: number
                type: 'null'
              children:
                $ref: '#/components/schemas/obj_filter_children'
            type: object
            required:
            - type
      required:
      - type
    obj_filter_children:
      type: object
      properties:
        type:
          type: string
          description: '''group'' | ''condition''。当 type 为 ''condition'' 时，field/operator/value
            为必填；当 type 为 ''group'' 时，logic 为必填'
        logic:
          type: string
          description: '''AND'' | ''OR''。不区分大小写'
        field:
          type: string
          description: 字段 ID/别名
        operator:
          type: string
          description: 运算符
        value:
          description: 值（字符串、数值、数组、日期范围DateRange字符串）
          oneOf:
          - type: string
          - type: integer
          - type: boolean
          - type: array
            items:
              type: string
          - type: object
            properties: {}
          - type: number
          type: 'null'
      required:
      - type
    obj_record_row:
      type: object
      properties:
        id:
          type: string
          description: 行记录 ID
        '{field}':
          description: 字段和对应的值
          oneOf:
          - type: string
          - type: integer
          - type: boolean
          - type: array
            items:
              type: string
          - type: object
            properties: {}
          - type: number
          type: 'null'
        _createdAt:
          type: string
          description: 创建时间
        _createdBy:
          $ref: '#/components/schemas/obj_user'
          description: 创建人信息
        _updatedAt:
          type: string
          description: 更新时间
        _updatedBy:
          $ref: '#/components/schemas/obj_user'
          description: 创建人信息
        _owner:
          $ref: '#/components/schemas/obj_user'
          description: 创建人信息
      required:
      - id
      - _createdAt
      - _createdBy
      - _updatedAt
      - _updatedBy
      - _owner
      - '{field}'
    obj_user:
      type: object
      properties:
        accountId:
          type: string
          description: 人员 id
        fullname:
          type: string
          description: ' 名称'
        avatar:
          type: string
          description: 头像地址
      required:
      - accountId
      - fullname
      - avatar
  securitySchemes:
    bearer:
      type: bearer
      scheme: bearer
servers:
- url: https://api.mingdao.com
  description: 正式环境
security:
- bearer: []
